name: Deploy to DreamHost via SFTP

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Deploy to SFTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: iad1-shared-b8-27.dreamhost.com
        username: ${{ secrets.SFTP_USERNAME }}
        password: ${{ secrets.SFTP_PASSWORD }}
        port: 22
        protocol: sftp
        server-dir: /home/carlostallon/carlostallon.com/
        local-dir: ./